# Test Dome Python Assessment

In [1]:
#Show ALL outputs in cell, not only last result
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats

from typing import List, Set, Dict, Tuple, Optional

In [103]:
import pandas as pd
import math

def num_names(names, required_pct):
    """
    :param names: (list) A list of first names.
    :param required_pct: (int) The required percentage of the sample data to be preprinted.
    :returns: (int) The minimum number of unique first names (or templates) that need to be prepared.
    """
    
    d = {
    'names': names,
    }

    df = pd.DataFrame(data=d)
    df['count'] = 1

    df = df.groupby('names').sum() \
           .sort_values(by='count', ascending=False)

    df['cum_sum'] = df['count'].cumsum()
    df['cum_perc'] = 100 * df['cum_sum'] / df['count'].sum()

    thresh_mask = df['cum_perc'] <= required_pct
    min_unique_names = len(df[thresh_mask])

    return min_unique_names

In [107]:
names = ["James", "Sophia", "James", "Sophia", "James", "Sophia", "Emma", "Jack"]
print(num_names(names, 75))

2

In [97]:
names = ["James", "Sophia", "James", "Sophia", "James", "Sophia", "Emma", "Jack", ]
required_pct = 75

In [98]:
threshold = len(names) * (required_pct / 100)
threshold

6.0

In [144]:
names = ["James", "Sophia", "James", "Sophia", "James", "Sophia", "Emma", "Jack"]
required_pct = 75

In [186]:
d = {
    'names': names,
}

df = pd.DataFrame(data=d)
df['count'] = 1

df = df.groupby('names').sum() \
       .sort_values(by='count', ascending=False)

df['cum_sum'] = df['count'].cumsum()
df['cum_perc'] = 100 * df['cum_sum'] / df['count'].sum()

thresh_mask = df['cum_perc'] < required_pct
len(df[thresh_mask]) + 1

2

In [95]:
d = {
    'names': names,
}

df = pd.DataFrame(data=d)
df['count'] = 1

df = df.groupby('names').sum() \
       .sort_values(by='count', ascending=False)

df['cum_sum'] = df['count'].cumsum()
df['cum_perc'] = 100 * df['cum_sum'] / df['count'].sum()

thresh_mask = df['cum_perc'] <= required_pct
min_unique_names = len(df[thresh_mask])
min_unique_names

2

## Challenge 1:

In [4]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics

def train_and_predict(train_input_features, train_outputs, prediction_features):
    """
    :param train_input_features: (numpy.array) A two-dimensional NumPy array where each element
                        is an array that contains two numerical features
    :param train_outputs: (numpy.array) A one-dimensional NumPy array where each element
                        is the value associated with the same row of train_input_features
    :param prediction_features: (numpy.array) A two-dimensional NumPy array where each element
                        is an array that contains two numerical features
    :returns: (list) The function should return an iterable (like list or numpy.ndarray) of predictions,
                        one for each item in prediction_features
    """
    
    
    pass

In [23]:
from sklearn.preprocessing import PolynomialFeatures

poly_reg = PolynomialFeatures(degree=3)

X_poly = poly_reg.fit_transform(train_input_features)
pol_reg = LinearRegression()

pol_reg.fit(X_poly, train_outputs)

y_pred = pol_reg.predict(poly_reg.fit_transform(prediction_features))
y_pred

NameError: name 'train_input_features' is not defined

In [25]:
import pandas as pd

def avg_percentage(game_id, ft_number, team, result):
    """
    :param game_id: (list) The ID of the game. 
    :param ft_number: (list) The number of the free throw.
    :param team: (list) Which team took the free throw.
    :param result: (list) The result of the free throw, which is either missed or made.
    :returns: (float) The mean value of the percentages (0.0-100.0) of free throws that
               each team scored in each game.
    """
    
    # create a list of our conditions
    conditions = [
        (df['result'] == 'made'),
        (df['result'] == 'missed'),
        ]

    # create a list of the values we want to assign for each condition
    values = [1, 0]

    # create a new column and use np.select to assign values to it using our lists as arguments
    df['result_encoded'] = np.select(conditions, values)
    
    df.groupby(['game_id', 'team'])['result_encoded'].sum()
    
    return None

#For example, with the parameters below, the function should return 58.33
print(avg_percentage(
    [1, 1, 1, 1, 2, 2],
    [1, 2, 3, 4, 1, 2],
    ['home','home','away','home','away','home'],
    ['made','missed','made','missed','missed','made']
))

10

In [181]:
d = {
    'game_id': [1, 1, 1, 1, 2, 2],
    'ft_number': [1, 2, 3, 4, 1, 2],
    'team': ['home','home','away','home','away','home'],
    'result': ['made','missed','made','missed','missed','made'] 
}

df = pd.DataFrame(data=d)
df.head(10)

   game_id  ft_number  team  result
0        1          1  home    made
1        1          2  home  missed
2        1          3  away    made
3        1          4  home  missed
4        2          1  away  missed
5        2          2  home    made

In [182]:
# create a list of our conditions
conditions = [
    (df['result'] == 'made'),
    (df['result'] == 'missed'),
    ]

# create a list of the values we want to assign for each condition
values = [1, 0]

# create a new column and use np.select to assign values to it using our lists as arguments
df['result_encoded'] = np.select(conditions, values)
df

   game_id  ft_number  team  result  result_encoded
0        1          1  home    made               1
1        1          2  home  missed               0
2        1          3  away    made               1
3        1          4  home  missed               0
4        2          1  away  missed               0
5        2          2  home    made               1

In [185]:
df_grouped = df.groupby(['game_id', 'team'])['result_encoded'].agg({'count', 'sum'})

df_grouped['percent'] = df_grouped['sum'] / df_grouped['count']
df_grouped['percent'].mean()

0.5833333333333333

In [ ]:
def func(
    sample_1:,
    b:
) -> :
    """
    xxxx
    """
    
    pass

In [ ]:
sample_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
sample_2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 999]
sample_3 = [-200, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [ ]:
func_return = func(sample_1, b)
type(func_return)

In [ ]:
assert func(sample_1, b) == 5.5
assert func(sample_2, b) == 5.5
assert func(sample_3, b) == 5.5

## Challenge 2:

## Challenge 3:

## Challenge 4: