In [10]:
import numpy as np
import pandas as pd

In [18]:
# let's create a new dataframe 
food = pd.DataFrame({
    'Place':['Home', 'Home', 'Hotel', 'Hotel'],
    'Time': ['Lunch', 'Dinner', 'Lunch', 'Dinner'],
    'Food':['Soup', 'Rice', 'Soup', 'Chapati'],
    'Price($)':[10, 20, 30, 40]
})

food.head()

   Place    Time     Food  Price($)
0   Home   Lunch     Soup        10
1   Home  Dinner     Rice        20
2  Hotel   Lunch     Soup        30
3  Hotel  Dinner  Chapati        40

In [19]:
l = [1, 2, 3, 4, 5]
l

[1, 2, 3, 4, 5]

In [20]:
t = (1, 2, 3, 4, 5)
t

(1, 2, 3, 4, 5)

In [21]:
d = {
    "b": 1,
    "a": 0,
    "c": 2
}
d

{'b': 1, 'a': 0, 'c': 2}

In [44]:
# importing pandas and numpylibraries
import pandas as pd
import numpy as np
  
# creating and initializing a nested list
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]
  
# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

df

   Field_1  Field_2  Field_3
a       15      2.5      100
b       20      4.5       50
c       25      5.2       80
d       45      5.8       48
e       40      6.3       70
f       41      6.4       90
g       51      2.3      111

In [49]:
# Apply function numpy.square() to square 
# the values of 3 rows only i.e. with row
# index name 'a', 'e' and 'g' only
df = df.apply(lambda x: np.square(x) if x.name in [
              'a', 'e', 'g'] else x, axis=1)
  
# printing dataframe
df

   Field_1  Field_2  Field_3
a    225.0     6.25  10000.0
b     20.0     4.50     50.0
c     25.0     5.20     80.0
d     45.0     5.80     48.0
e   1600.0    39.69   4900.0
f     41.0     6.40     90.0
g   2601.0     5.29  12321.0

In [88]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

ser.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [89]:
# Solution
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [98]:
# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [116]:
# Input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Solution
ser.value_counts()

d    6
g    6
e    5
h    3
b    3
c    3
a    3
f    1
dtype: int64

In [ ]:
def get_sales_input(
    d_cell: Dict[str, str], 
    periodicity: str, 
    period_seq_start: int, 
    period_seq_end: int
) -> pd.DataFrame:
    """
    Docstring
    """

In [ ]:
def get_algo_output_before_acs(
    d_cell: Dict[str, str], 
    periodicity: str, 
    period_seq_start: int, 
    period_seq_end: int
) -> Tuple[pd.DataFrame, List[Dict[str, Any]]]:
    """
    Docstring
    """
    
# return pdf_algo_output_before_acs, l_algo_output_before_acs

In [ ]:
from typing import List, Set, Dict, Tuple, Optional

# For simple built-in types, just use the name of the type
x: int = 1
x: float = 1.0
x: bool = True
x: str = "test"
x: bytes = b"test"

# For collections, the type of the collection item is in brackets
# (Python 3.9+)
x: list[int] = [1]
x: set[int] = {6, 7}

# In Python 3.8 and earlier, the name of the collection type is
# capitalized, and the type is imported from 'typing'
x: List[int] = [1]
x: Set[int] = {6, 7}

# Same as above, but with type comment syntax (Python 3.5 and earlier)
x = [1]  # type: List[int]

# For mappings, we need the types of both keys and values
x: dict[str, float] = {'field': 2.0}  # Python 3.9+
x: Dict[str, float] = {'field': 2.0}

# For tuples of fixed size, we specify the types of all the elements
x: tuple[int, str, float] = (3, "yes", 7.5)  # Python 3.9+
x: Tuple[int, str, float] = (3, "yes", 7.5)

# For tuples of variable size, we use one type and ellipsis
x: tuple[int, ...] = (1, 2, 3)  # Python 3.9+
x: Tuple[int, ...] = (1, 2, 3)

# Use Optional[] for values that could be None
x: Optional[str] = some_function()
# Mypy understands a value can't be None in an if-statement
if x is not None:
    print(x.upper())
# If a value can never be None due to some invariants, use an assert
assert x is not None
print(x.upper())

In [202]:
# content of test_addition.py
def add(x, y):
    return x + y + 100

def test_add():
    assert add(3, 2) == 5, "there is a bug for you to deal with!"

In [203]:
test_add()

AssertionError: there is a bug for you to deal with!

In [271]:
from pandas.testing import assert_series_equal

a = pd.Series([1, 2, 3, 4])
b = pd.Series([1, 2, 3, 4])

a == b
assert_series_equal(a, b)

In [154]:
l_ints = [1, 2, 3, "", 5]
l_ints

[1, 2, 3, '', 5]

In [155]:
l_floats = []

for i in l_ints:
    try:
        l_floats.append(float(i))
    except Exception as error:
        print(error)
        print('Caught this error: ' + repr(error))
        
        l_floats.append(i)

could not convert string to float:
Caught this error: ValueError('could not convert string to float: ')

In [156]:
l_floats

[1.0, 2.0, 3.0, '', 5.0]

In [171]:
x = -1

if x < 0:
    raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [172]:
x = "hello"

if not type(x) is int:
    raise Exception("Only integers are allowed")

Exception: Only integers are allowed

In [272]:
# Input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7])

In [292]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']

group_key = ['East'] * 4 + ['West'] * 4
group_key

data = pd.Series(np.random.randn(8), index=states)
data

Ohio          1.773306
New York      0.427082
Vermont      -1.089440
Florida      -0.415897
Oregon        0.598427
Nevada       -1.852514
California   -0.172992
Idaho         0.012535
dtype: float64

In [293]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data

Ohio          1.773306
New York      0.427082
Vermont            NaN
Florida      -0.415897
Oregon        0.598427
Nevada             NaN
California   -0.172992
Idaho              NaN
dtype: float64

In [280]:
fill_mean = lambda g: g.fillna(g.mean())

In [297]:
data.groupby(group_key).apply(lambda g: g.mean())

East    0.594830
West    0.212717
dtype: float64

In [298]:
data.groupby(group_key).apply(lambda g: g.fillna(g.mean()))

Ohio          1.773306
New York      0.427082
Vermont       0.594830
Florida      -0.415897
Oregon        0.598427
Nevada        0.212717
California   -0.172992
Idaho         0.212717
dtype: float64